input[type="radio"], input[type="checkbox"] {
    margin:0px;
    line-height: normal;
}
ul, ol {
    margin: 0;
    padding: 0;
}
body
{
    color:#333333;
    font:14px/1.5 \5FAE\8F6F\96C5\9ED1;
}
a
{
    color:#555555;
    text-decoration:none;
}
a img
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
}
.left a:hover{
    color: #fff;
}
.menu_active{
    color: #fff;
}
input,button,select,textarea{outline:none}
textarea{resize:none}
input,button,select,textarea{outline:none}textarea{resize:none}

.head-top {
    background-color: #1d2731;
    height: 72px;
    left: 0;
    /*position: relative;*/
    width: 100%;
    top:0;
    position: fixed;
    background: url("../img/head.png");
}

.head-top .logo {
    line-height: 72px;
    text-align: center;
    float: left;
    height: 72px;
    left: 0;
    width: 180px;
    background: #56b1de;
}

.navbar {
    float: right;
}

.navbar a {
    color: #ffffff;
    margin: 0 5px;
}
html,body{
    height: 100%;
}
.left{
    width: 180px;
    background: #293541;
    /* position: absolute; */
    /*top: 72px;*/
    /* bottom: 0; */
    height: 100%;
    position: fixed;
    z-index: 1;
}

.left ul li{
    line-height:50px;
    height:auto;
}

.minus{
    /*background-image: url("/resource/img/minus.png");	*/
}

.plus{
    /*background-image: url("/resource/img/plus.png");*/
}
.left .text {
    /*color: #666;*/
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    height: 50px;
    display: block;
    padding-left: 27px;
}


.left .text:after {
    content:" ";
    background: transparent url("../img/plus.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    position:relative;
    height: 10px;
    left: 35px;
    width: 10px;
}

.left .ctext {
    background: #39434d;
    /*color: #fff;*/
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    /* padding: 18px 0 12px 40px; */
    height: 50px;
    display: block;
    padding-left: 27px;
}

.left .ctext:after {
    content:" ";
    background: transparent url("../img/minus.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    position:relative;
    height: 10px;
    left: 35px;
    width: 10px;
}



.main-container
{
    /* float: left; */
    background-color: #eee;
    /* padding-left: 179px; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* background: gold; */
    /* height: 100%; */
    /* margin-top: -72px; */
    /* padding-top: 72px; */
    position: absolute;
    top: 72px;
    z-index: 12;
    left: 180px;
    right: 0;
    min-width: 1180px;
}

.subItem{
    cursor: pointer;
    padding-left: 62px;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

.table-area{
    background-color:#ffffff;
    margin:15px 16px;
    padding:0 10px;
}

.table-area th{
    border-bottom: 1px dashed #ddd;
    line-height: 24px;
    padding: 0 8px;
    text-align: left;
    white-space: nowrap;
    -moz-user-select: none;
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-size: 14px;
    height: 44px;
    padding: 5px 8px;
    vertical-align: middle;
}

.table-area td{
    height: 44px;
    max-width: 145px;
    overflow: hidden;
    padding: 12px 8px;
    position: relative;
    text-overflow: ellipsis;
    border-bottom: 1px dashed #ddd;
    line-height: 24px;
    padding: 0 8px;
    text-align: left;
    white-space: nowrap;
}
.def-color{
    color: #67737f;
}

.line-dashed{
    display: block;
    height: 25px;
    width: 25px;
    border-left: 1px dashed #67737f;
    position: absolute;
    top: 0;
    left: 32px;
    border-bottom: 1px dashed #67737f;
}
.line-dashed-bottom{
    display: block;
    height: 25px;
    width: 8px;
    border-left: 1px dashed #67737f;
    position: absolute;
    top: 27px;
    left: 32px;
}